svg.badge_icon(version="1.1" viewbox="0 0 23.7 23.7" x="0px" xml:space="preserve" y="0px")
	path(d="M23.1,8.6c0,1-0.8,1.9-1.9,1.9c-0.1,0-0.3,0-0.4,0l-1.6,7.5H4.5l-1.6-7.5c-0.1,0-0.3,0-0.4,0c-1,0-1.9-0.8-1.9-1.9s0.8-1.9,1.9-1.9s1.9,0.8,1.9,1.9c0,0.5-0.2,0.9-0.4,1.2l4.2,3.5l3-7.6C10.5,5.4,10,4.7,10,3.9c0-1,0.8-1.9,1.9-1.9s1.9,0.8,1.9,1.9c0,0.8-0.5,1.5-1.2,1.7l3,7.6l4.2-3.5c-0.3-0.3-0.4-0.7-0.4-1.2c0-1,0.8-1.9,1.9-1.9C22.2,6.7,23.1,7.6,23.1,8.6z M4.4,21.7h15v-2.8h-15V21.7z")
