ion-view.rooms
  ion-nav-title VROOMS
  ion-content
    .what qual è la tua vroom oggi?
    .rooms_list
      .room(ng-repeat="room in room_categories | orderBy:'name'" ui-sref="app.rooms_category({room_category_id: room.id})")
        .bg(style="background-image: url(https:{{room.image_url}})")
        p {{room.name}}
