ion-view.rooms
  ion-nav-title {{room_category.name}}
  ion-content
    .rooms_list(ng-repeat="room in room_category.rooms | orderBy:'name'")
      .room(ui-sref="app.room({room_id: room.id})")
        .is_favourite(ng-if="room.is_favourite")
          i.icon.ion-heart
        .is_restricted(ng-if="room.is_school")
          i.icon.ion-locked
        .bg(style="background-image: url(https:{{room.image_url}})")
        p {{room.name}}
