ion-view.room
  ion-nav-title Offerta

  ion-subheader.bar.bar-subheader(ng-class="{'bar-red': travel.is_applied, 'bar-blue': travel.is_approved, 'bar-green': travel.completed }" ng-if="travel.is_applied || travel.is_approved || travel.completed")
    .message
      p(ng-if="travel.is_applied") ti sei candidato
      p(ng-if="travel.is_approved") sei stato approvato
      p(ng-if="travel.completed") viaggio concluso
  ion-content.travel_page(ng-class="{'has-subheader': travel.is_applied || travel.is_approved || travel.completed}")
    ion-refresher(pulling-text="Aggiorna ..." on-refresh="pullUpdate()")
    .room_map(ng-click="showMapModal()" style="background-image: url(http://maps.googleapis.com/maps/api/staticmap?center={{travel.starting_lat}},{{travel.starting_lng}}9&zoom=16&size=600x300&maptype=roadmap&format=png)")
      i.ion-location
      i.ion-android-open
      .room_address {{travel.starting_address}}

    .row(style="padding-top: 0px; padding-bottom: 0px;")
      .col(style="padding-top: 0px; padding-bottom: 0px;")
        .button.button-block.button-balanced.custom_button(ng-click="openChat()") Chat Pubblica
      .col(style="padding-top: 0px; padding-bottom: 0px;" ng-if="!travel.is_applied && !travel.is_approved && !travel.is_owner && checkTravelDate()")
        .button.button-block.button-positive.custom_button(ng-click="applyForTravel()") Candidati
      .col(style="padding-top: 0px; padding-bottom: 0px;" ng-if="travel.is_applied && !travel.is_approved && !travel.is_owner && checkTravelDate()")
        .button.button-block.button-assertive.custom_button(ng-click="cancelApplicationForTravel()") Annulla Candidatura
      

    .row
      .col
        ul.meta_list
          li(ng-if="travel.is_owner" ng-cloak="travel.is_owner")
            i.icon.ion-person
            span
              | Pubblicato da 
              strong te
          li.action(ng-if="!travel.is_owner" ng-cloak="!travel.is_owner" ng-click="showProfileDialog(travel.driver.id)")
            i.icon.ion-person
            span
              | Pubblicato da 
              strong {{travel.driver.name}} {{travel.driver.surname}}

          li
            i.icon.ion-ios-calendar
            span
              strong Partenza: 
              | {{ travel.departure_datetime | date:"dd MMMM 'alle' HH:mm"}}
          li
            i.icon.ion-ios-flag.green
            span(ng-if="travel.towards_room")
              strong Da: 
              | {{ travel.starting_address }}
            span(ng-if="!travel.towards_room")
              strong Da: 
              | {{ travel.room.name }}
          li
            i.icon.icon.ion-ios-flag.red
            span(ng-if="travel.towards_room")
              strong A: 
              | {{ travel.room.name }}

            span(ng-if="!travel.towards_room")
              strong A: 
              | {{ travel.destination_address }}

          li(ng-if="travel.is_owner")
            i.icon.ion-android-car
            span
              strong Posti disponibili: 
              | {{travel.available_sits - travel.approved_count}}

          li.action(ng-click="createPrivateChat()" ng-show="!travel.has_private_chat && !travel.is_owner")
            i.icon.ion-android-chat
            span 
              strong Contatta il guidatore
          
          a(ng-show="travel.has_private_chat && !travel.is_owner" ng-click="getPrivateChat(travel.private_chat_id)")
            li
              i.icon.ion-android-chat
              span 
                strong Contatta il guidatore
        
        ul.meta_list
          li
            i.icon.ion-android-car
            span
              strong Auto: 
              | {{ travel.car.model }} ({{ travel.car.plate }})

          li
            i.icon(ng-class="{'ion-close red': !travel.car.can_smoke, 'ion-checkmark green': travel.car.can_smoke}")
            span
              | Accetta fumatori

          li
            i.icon(ng-class="{'ion-close red': !travel.car.animals_allowed, 'ion-checkmark green': travel.car.animals_allowed}")
            span
              | Accetta animali

          li
            i.icon(ng-class="{'ion-close red': !travel.flexible_departure, 'ion-checkmark green': travel.flexible_departure}")
            span
              | Orario flessibile

          li
            i.icon(ng-class="{'ion-close red': !travel.can_repay, 'ion-checkmark green': travel.can_repay}")
            span
              | Richiede rimborso
        
        div(ng-if="travel.travel_stops.length > 0")
          h3 Fermate Intermedie
          p.travel_stops 
            span(ng-repeat="stop in travel.travel_stops")
              | {{stop.address}}, 

    .row(style="padding-top: 0px; padding-bottom: 0px;" ng-if="travel.waiting_for_confirm && !travel.completed && travel.is_owner")
      .col(style="padding-top: 0px; padding-bottom: 0px;")
        .button.button-block.button-positive(ng-click="markTravelAsCompleted()")
          | Segna come Completato

    .list.inset-list(ng-if="travel.completed && travel.is_owner")
      .item.item-icon-left
        i.icon.ion-ios-checkmark.positive
        | Compleato!

    .row(ng-if="travel.is_owner")
      .col
        h3 Utenti Accettati ({{travel.approved_count}}/{{travel.available_sits}})
        ul.meta_list(ng-if="!travel.completed")
          li(ng-repeat="approved_user in travel.approved_users")
            .user_image(style="background-image: url({{approved_user.user.profile_image_url}})" ng-click="showProfileDialog(approved_user.user.id)")
            span(ng-click="showProfileDialog(approved_user.id)")
              | {{approved_user.user.name}} {{approved_user.user.surname}}
            i.icon.ion-close.action.red(ng-if="!travel.waiting_for_confirm && !travel.completed" ng-click="cancelApprovalForTravel(approved_user.user.id)")
          li(ng-if="travel.approved_users.length == 0")
            span Non ci sono utenti confermati.

        ul.meta_list(ng-if="travel.completed")
          li(ng-repeat="passenger in travel.travel_passengers")
            .user_image(style="background-image: url({{passenger.user.profile_image_url}})")
            span
              | {{passenger.user.name}} {{passenger.user.surname}}
          li(ng-if="travel.travel_passengers.length == 0")
            span Non ci sono utenti confermati.
  
    .row(ng-if="travel.is_owner")
      .col
        h3 Utenti in Attesa
        ul.meta_list
          li(ng-repeat="applied_user in travel.applied_users")
            .user_image(style="background-image: url({{applied_user.user.profile_image_url}})" ng-click="showProfileDialog(applied_user.user.id)")
            span(ng-click="showProfileDialog(applied_user.id)")
              | {{applied_user.user.name}} {{applied_user.user.surname}}
            i.icon.ion-checkmark.action.green(ng-if="(travel.available_sits - travel.approved_count) > 0 && !travel.waiting_for_confirm && !travel.completed" ng-click="approveForTravel(applied_user.user.id)")
          li(ng-if="travel.applied_users.length == 0")
            span Non ci sono utenti in attesa.

    .row(ng-if="travel.is_owner && travel.private_chats.length > 0")
      .col
        h3 Chat Private
        .private_chats
          .chat(ng-repeat="chat in travel.private_chats" ng-click="getPrivateChat(chat.id)")
            .user_photo(style="background-image: url({{chat.passenger.profile_image_url}})")
            .user_name {{chat.passenger.name}}
    

    h4.reviews_title(ng-if="travel.reviews_to_be_done.length > 0") Recensioni da fare
    .reviews(ng-if="travel.reviews_to_be_done.length > 0")
      .review(ng-repeat="review in travel.reviews_to_be_done")
        form(ng-submit="handleReviewNewClick(review.travel_id, review.id, reviewsToSubmit[$index])" role="form" ng-init="reviewsToSubmit[$index] = {}")
          p Recensione per {{review.target.name}} {{review.target.surname}}
          textarea(ng-model="reviewsToSubmit[$index].content" required="required" placeholder="Scrivi qui la tua recensione per {{review.target.name}}")
          .meta
            .stars(ng-mouseleave="hover_rate = 0")
              .star(ng-mouseover="hover_rate = 2" ng-class="{'active': hover_rate >= 2, 'selected': reviewsToSubmit[$index].rating >= 2}" ng-click="reviewsToSubmit[$index].rating = 2")
              .star(ng-mouseover="hover_rate = 4" ng-class="{'active': hover_rate >= 4, 'selected': reviewsToSubmit[$index].rating >= 4}" ng-click="reviewsToSubmit[$index].rating = 4")
              .star(ng-mouseover="hover_rate = 6" ng-class="{'active': hover_rate >= 6, 'selected': reviewsToSubmit[$index].rating >= 6}" ng-click="reviewsToSubmit[$index].rating = 6")
              .star(ng-mouseover="hover_rate = 8" ng-class="{'active': hover_rate >= 8, 'selected': reviewsToSubmit[$index].rating >= 8}" ng-click="reviewsToSubmit[$index].rating = 8")
              .star(ng-mouseover="hover_rate = 10" ng-class="{'active': hover_rate >= 10, 'selected': reviewsToSubmit[$index].rating >= 10}" ng-click="reviewsToSubmit[$index].rating = 10")
            
            button.send(input="submit")
              | Invia
          .error
            | {{error}}
              
    h4.reviews_title(ng-if="travel.reviews_done.length > 0") Recensioni fatte
    .reviews(ng-if="travel.reviews_done.length > 0")
      .review(ng-repeat="review in travel.reviews_done")
        p Recensione per {{review.target.name}} {{review.target.surname}}
        .content {{review.content}}
        .meta
          .stars.small
            .star(ng-class="{'selected': review.rating >= 2}")
            .star(ng-class="{'selected': review.rating >= 4}")
            .star(ng-class="{'selected': review.rating >= 6}")
            .star(ng-class="{'selected': review.rating >= 8}")
            .star(ng-class="{'selected': review.rating >= 10}")

    
    h4.reviews_title(ng-if="travel.reviews_received.length > 0") Recensioni ricevute
    .reviews(ng-if="travel.reviews_received.length > 0")
      .review(ng-repeat="review in travel.reviews_received")
        p Recensione di {{review.target.name}} {{review.target.surname}}
        .content {{review.content}}
        .meta
          .stars.small
            .star(ng-class="{'selected': review.rating >= 2}")
            .star(ng-class="{'selected': review.rating >= 4}")
            .star(ng-class="{'selected': review.rating >= 6}")
            .star(ng-class="{'selected': review.rating >= 8}")
            .star(ng-class="{'selected': review.rating >= 10}")

    .row
      .col
        .button.button-block.button-assertive(ng-if="travel.is_owner" ng-click="destroyTravel()") Elimina viaggio


script(id='map-modal.html', type='text/ng-template')
  ion-modal-view.map_modal
    ion-header-bar
      h1.title.positive Mappa
      .buttons
        button.button.button-icon.ion-ios-close-outline.assertive(ng-click="closeMapModal()")
    ion-content(scroll="false" data-tap-disabled="false")
      ui-gmap-google-map(center="map.center" zoom="map.zoom" dragging="true" events="map.events")
        ui-gmap-marker(coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id")

script(id='chat-modal.html' type='text/ng-template')
  ion-modal-view.chat
    ion-header-bar
      h1.title.positive Chat Pubblica
      .buttons
        button.button.button-icon.ion-ios-close-outline.assertive(ng-click="closeChatModal()")
    ion-content(scroll="true" delegate-handle="chat_pane")
      .message-wrapper(ng-repeat="message in travel.public_messages | orderBy:'created_at'")
        div(ng-if='!message.is_author')
          img.profile-pic.left(ng-src='{{message.author.profile_image_url}}')
          .chat-bubble.left
            .message(ng-bind-html='message.content | nl2br', autolinker='')
            .message-detail
              span.bold(ng-click='viewProfile(message)' ng-if="message.author.surname") {{message.author.name}} {{message.author.surname}}
              span.bold(ng-click='viewProfile(message)' ng-if="!message.author.surname") {{message.author.name}}

        div(ng-if='message.is_author')
          img.profile-pic.right(ng-click='viewProfile(message)', ng-src='{{user.profile_image_url}}')
          .chat-bubble.right
            .message(ng-bind-html='message.content | nl2br', autolinker='')
            .message-detail
              span.bold(ng-click='viewProfile(message)' ng-if="user.surname") {{user.name}} {{user.surname}}
              span.bold(ng-click='viewProfile(message)' ng-if="!user.surname") {{user.name}}
        
        .cf

    form(name='sendMessageForm' ng-submit='handleMessageNewClick(travel.room.id, travel.id)' novalidate='')
      ion-footer-bar.bar-stable.item-input-inset.message-footer.bar-footer-chat(keyboard-attach='')
        label.item-input-wrapper
          textarea(style="width:100%" ng-model='newTravelOfferMessage.content' value='' placeholder='Messaggio...' required='' minlength='1' maxlength='1500' msd-elastic='')
        .footer-btn-wrap
          button.button.button-icon.icon.ion-paper-airplane.footer-btn(type='submit' ng-disabled="!newTravelOfferMessage.content || newTravelOfferMessage.content === ''")

script(id='private-chat-modal.html' type='text/ng-template')
  ion-modal-view.chat
    ion-header-bar
      h1.title.positive Chat Privata
      .buttons
        button.button.button-icon.ion-ios-close-outline.assertive(ng-click="closePrivateChatModal()")
    ion-content(scroll="true" delegate-handle="private_chat_pane")
      .message-wrapper(ng-repeat="message in private_messages | orderBy:'created_at'")
        div(ng-if='!message.is_owner')
          img.profile-pic.left(ng-src='{{message.author.profile_image_url}}')
          .chat-bubble.left
            .message(ng-bind-html='message.content | nl2br', autolinker='')
            .message-detail
              span.bold(ng-click='viewProfile(message)' ng-if="message.author.surname") {{message.author.name}} {{message.author.surname}}
              span.bold(ng-click='viewProfile(message)' ng-if="!message.author.surname") {{message.author.name}}

        div(ng-if='message.is_owner')
          img.profile-pic.right(ng-click='viewProfile(message)', ng-src='{{user.profile_image_url}}')
          .chat-bubble.right
            .message(ng-bind-html='message.content | nl2br', autolinker='')
            .message-detail
              span.bold(ng-click='viewProfile(message)' ng-if="user.surname") {{user.name}} {{user.surname}}
              span.bold(ng-click='viewProfile(message)' ng-if="!user.surname") {{user.name}}
        
        .cf

    form(name='sendMessageForm' ng-submit='handlePrivateMessageNewClick(travel.room.id, travel.id)' novalidate='')
      ion-footer-bar.bar-stable.item-input-inset.message-footer.bar-footer-chat(keyboard-attach='')
        label.item-input-wrapper
          textarea(style="width:100%" ng-model='newTravelOfferPrivateMessage.content' value='' placeholder='Messaggio...' required='' minlength='1' maxlength='1500' msd-elastic='')
        .footer-btn-wrap
          button.button.button-icon.icon.ion-paper-airplane.footer-btn(type='submit' ng-disabled="!newTravelOfferPrivateMessage.content || newTravelOfferPrivateMessage.content === ''")